* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 800px;
    height: 400px;
}

a {
    text-decoration: none;
    color: black;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 10px;
}

.card button {
    position: absolute;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: .5s;
}

.card:hover img {
    opacity: 0.5;
}

.card:hover button {
    opacity: 1;
}

.card img {
    border-radius: 20px;
    width: 100%;
}

.save {
    top: -10px;
    right: 5px;
    width: 80px;
    height: 40px;
    color: white;
    background-color: red;
}

.card:hover .save {
    transform: translateY(20px);
}

.link {
    bottom: -10px;
    left: 5px;
    height: 30px;
    width: 115px;
    color: black;
    background-color: lightgrey;
}

.share {
    bottom: -10px;
    right: 45px;
    height: 30px;
    width: 30px;
    color: black;
    background-color: lightgrey;
}

.menu {
    bottom: -10px;
    right: 10px;
    height: 30px;
    width: 30px;
    color: black;
    background-color: lightgrey;
}

.card:hover .lower {
    transform: translateY(-20px);
}